attrs==21.4.0
beautifulsoup4==4.10.0
bleach==4.1.0
cycler==0.11.0
defusedxml==0.7.1
entrypoints==0.4
fonttools==4.31.2
-e git+https://github.com/jihaneaz/GillesPy2-fork.git@2f1660b29c28d30de91a6e69e1f10a1b80b3b6dc#egg=gillespy2
importlib-resources==5.6.0
Jinja2==3.1.1
jsonschema==4.4.0
jupyter-client==7.2.1
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.1
mistune==0.8.4
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.2.0
nest-asyncio==1.5.5
numpy==1.22.3
packaging==21.3
pandocfilters==1.5.0
Pillow==9.1.0
plotly==5.6.0
Pygments==2.11.2
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pyzmq==22.3.0
scipy==1.8.0
six==1.16.0
soupsieve==2.3.1
tenacity==8.0.1
testpath==0.6.0
tornado==6.1
traitlets==5.1.1
webencodings==0.5.1
zipp==3.8.0
setuptools~=57.4.0
lxml~=4.8.0